Requirements for running the Tundra Debugger software:

(This will be cleaned up and fleshed out later.  For now, a quick rundown.)


Initial Step:

Start initially with Anaconda 3 (as of 02/2022).
This provides a really good base without the hassle of compiling Qt, OpenSSL, python, and
anything else all with the same compiler suite

1) Add the conda-forge repositories

2)  Run the Anaconda Prompt

2)  Instaall mamba.  This provides a sane SAT solver for future installs.  The
standard solver proved to have issues trying to install Qt packages.

	conda install -n base conda-forge::mamba

3)  Install Qt

	mamba install qt

4)  Install pyside2:

	mamba install pyside2

5)  From https://www.lfd.uci.edu/~gohlke/pythonlibs/#pythonnet:
    Grab the appropriate version and install.  cp38 = python3.8, choose between amd64 or win32
    install the downloaded file via pip, within the anaconda shell:

      pip install pythonnet‑2.5.2‑cp38‑cp38‑win_amd64.whl

6)  Again, using pip, install bleak:
      pip install bleak

7)  install pyexpect (may already be installed with anaconda base):
  mamba install pyexpect

FINALLY)  from an anaconda shell, navigate to the project's src directory.  Then:

	(powershell): ./TundraDebugger.py
	(cmd.exe):    python TundraDebugger.py
